.custom-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.custom-modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  min-width: 500px;
  max-width: 90%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  position: relative;
  @media (max-width:768px) {
    min-width: 75%;
  }
}

.custom-close-button {
  position: absolute;
  top: 0;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  color: #666;
  cursor: pointer;
}

.custom-close-button:hover {
  color: #000;
}

.custom-modal-content {
  margin-top: 10px;
}
