.headerWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 4px solid #ffff;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 0px 3rem;

    @media (max-width:992px) {
      flex-wrap: wrap;
      padding-bottom: 2rem;
    }
}

.container {
  width: calc(100vw - 65px);
  height: calc(100vh - 40px);
  padding: 2rem 3rem;
  overflow-x: hidden;
  
   @media (max-width:992px) {
    height:auto;
  }
}


.modalContent {
  padding-right: 3rem;
  margin-top: 2rem;
}

.saveButton {
  padding: 1rem 3rem;
  margin-top: 1rem;
}





.form-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form-group {
  position: relative;
  margin-bottom: 1.5rem;
  width: 100%;
}

input,
textarea {
  width: 100%;
  padding: 1.2rem 0.75rem 0.8rem;
  font-size: 1.4rem;
  border: 2px solid #3A0519;
  border-radius: 4px;
  outline: none;
  background: none;
}

label {
  position: absolute;
  top: 0.75rem;
  left: 0.75rem;
  color: #3A0519;
  padding: 0 0.25rem;
  transition: 0.2s ease all;
  pointer-events: none;
  font-size: 1.4rem;
}

input:focus + label,
input:not(:placeholder-shown) + label,
textarea:focus + label,
textarea:not(:placeholder-shown) + label {
  top: -0.6rem;
  left: 0.6rem;
  font-size: 1rem;
  color: #3A0519;
  background-color: white;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.6rem; 
  margin: 2rem 0;
  padding: 0;
}

.cardList {
  list-style: none;
  min-height: 120px;
  background-color: #A53860;
  /* box-shadow: 0 7px 10px 3px rgba(0, 0, 0, 0.3); */
  border-radius: 20px;
  padding: 2rem;
  cursor: pointer;
  position: relative;
}

h3 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-top: 0;
  word-break: break-word;
}

p {
  font-size: 1.4rem;
  font-weight: 400;
  margin: 0;
  word-break: break-word;
}

.listDelete {
  position: absolute;
  top: 0;
  right: 10px;
  background: transparent;
}

.error-text {
  color: red;
  font-size: 1.2rem;
  margin-top: 4px;
}

img {
      width: 20px;
    height: 20px;
}